body{
margin: 0;
font-family: sans-serif;
background: #f2f2f2;
}
@font-face {
    font-family: bangla;
    src: url(./Li\ Alinur\ Nakkhatra\ Unicode.ttf);
}
@font-face {
    font-family: english;
    src: url(./Anydore.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

p{
font-family: bangla;
}

h3{
text-align: center;
font-size: 30px;
font-family: english;
margin: 0;
padding-top: 10px;
font-family: "Open Sans", sans-serif;
}
a{
text-decoration: none;
}
.gallary{
display: inline;
flex-wrap: wrap;
width: 100%;
justify-content: center;
align-items: center;
margin: 50px 0;
}
.contener{
width: 20%;
margin: 15px;
box-sizing: border-box;
float: left;
text-align: center;
border-radius: 20px;
cursor: pointer;
padding-top: 10px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25),
0 10px 10px rgba(0,0,0,0.22);
transition: 0.5s;
background: #f2f2f2;
}
.contener:hover{
box-shadow: 0 3px 6px rgba(0,0,0,0.16),
0 3px 6px rgba(0,0,0,0.23);
transform: translate(0px, -8px);
}
img{
width: 200px;
height: 200px;
text-align: center;
margin: 0 auto;
display: block;
}

p{
text-align: center;
color: #b2b2b2;
padding-top: 0px 8px;

}
h6{
font-size: 26px;
text-align: center;
color: #222f3e;
margin: 0px;
}
ul{
list-style: none;
display: flex;
justify-content: center;
align-items: center;
padding-top: 0;
}
li{
padding-top: 5px;
}
.fa{
font-size: 20px;
    transition: 0.5s;
    margin: 3px;
}
.checked{
color: #ff9f4f;

}
.fa:hover{
    transform: scale(1.3);
    transition: 0.6s;
}
button{
text-align: center;
font-size: 24px;
color: #fff;
width: 100%;
padding: 15px;
border: 0;
outline: none;
cursor: pointer;
margin-top: 5px;
border-bottom-right-radius:20px;
border-bottom-left-radius:20px;
}
.buy-1{
    background-color: #2183a2;
}
.buy-2{
background-color: #3b3e63;

}
.buy-3{
    background-color: #0b0b0b;
}
.buy-4{
background-color: #ff9f4f;

}
@media(max-width:991px){
    .contener{
        width: 45%;
    }
}
@media(max-width:700px){
    .contener{
        width: 100%;
    }
}



